.form-group{
    width:50%
}
#textarea{
    height:120px;
}
.form-group.required .exampleInput:after {
content:"*";
color:red;
}
form{
position: absolute;
bottom: 0;
right: 0;
left: 0;
margin: 0 auto;
}